* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(239, 238, 248);
}
.wrapper {
  background: rgb(73, 71, 88);
  width: 740px;
  height: 795px;
  border-radius: 2.5%;
  box-shadow: 2.8rem 1.8rem 3rem #33b;
}

.slider {
  position: relative;
  width: 83%;
  overflow: hidden;
  margin: 65px;
}

.images {
  display: flex;
  width: 100%;
}

.images img {
  height: 633px;
  width: 100%;
  transition: all 0.15s ease;
}

.images input {
  display: none;
}
.controls {
}
.controls label {
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #bbb;
  margin: 5px;
  cursor: pointer;
  transition: all 0.15s ease;
}
.controls label:hover {
  background: #76c8ff;
  border-color: #777 !important;
}

#swich1:checked ~ .m1 {
  margin-left: 0;
}
#swich2:checked ~ .m2 {
  margin-left: -100%;
}
#swich3:checked ~ .m3 {
  margin-left: -200%x;
}
#swich4:checked ~ .m4 {
  margin-left: -300%;
}
#swich5:checked ~ .m5 {
  margin-left: -400%;
}
#swich6:checked ~ .m6 {
  margin-left: -500%;
}
.input_text {
  display: flex;
  padding-top: 28px;
  justify-content: space-between;
  align-items: center;
}

.text {
  display: flex;
  justify-content: center;
  color: aqua;
  font-size: 27px;
}

.text {
  width: 270px;
  height: 33px;
}

@media (width: 768px) {
}
